{% extends 'base.html' %}


{% block content %}
    
<style>
    .custom-bg {
        background-color: #e7e7e7;
    }
    .bold-text {
        font-weight: 500;
    }
    </style>
    <div class="row my-3">
            <div class="col-md-4 h3"> {{request.user}}'s Offers </div>
            <div class="col-md-8 text-right">
                     <a href="{% url 'create-offer' %}">
                        <button class="btn btn-success text-white bold-text">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </a>
    
            </div>
    </div>
        
    <div class="row my-3">
    
        <div class="col-md-9 text-left">
            <div class="text-muted">Total Offer: {{offer_count}} </div>
        </div>


   </div>  
    
    {% for offer in offers %}
        
    
        {% if request.user == offer.related_person %}

        <div class="card my-4">
            {% for detail in offer.offerdetail_set.all %}
                        
                {% if detail.offer.id == offer.id %}
                <a href="{% url 'offer-detail' offer.id %}" class="mx-2 my-2">
                    <i class="fa-solid fa-circle-arrow-right"></i>
                </a>
                {% endif %}

            {% endfor %}
            <div class="row">
          
                <div class="col-md-3 my-4">
                    <br>
                    <div class="card-body p-4">
                        <div class="card-title mx-auto my-auto">
                            <a href="{% url 'update-offer' offer.id %}">
                                <h4>{{offer.offer_no}}</h4>
                            </a>
            
                            <div class="text-muted">
                                {{offer.rfq.srv_rfq_no}}
                            </div>
                            <div class="text-muted">
                                {{offer.rfq.rfq_no}}
                             </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 text-center">
                    <div class="card-body  custom-bg">
                        <div class="text-right mx-2">
                            <a href="{% url 'delete-offer' offer.id %}" class="text-danger mx-2">
                                <i class="fa-regular fa-trash-can"></i>
                            </a>
                        
                       
                                {% if offer.offerdetail_set.all %}    
                                <a href="{% url 'update-offer-detail' offer.id %}"> 
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </a>
                                {% else %}
                                <a href="{% url 'create-offer-detail' offer.id %}" class="text-success">  
                                    <i class="fa-regular fa-square-plus"></i>
                                </a>
                                {% endif %}
                              
                          
                            
                                
                       
                                
                           
                        </div>
                            

                            
                        <div class="card-title">
                            {{offer.part.customer}}
                        </div>
                        <div class="card-subtitle">
                            {{offer.part}}
                            <div class="text-muted">
                                {{offer.part.description}}
                            </div>
                            <br>
                            Part Quantity
                           <div class="h4 text-dark">
                      
                            {{offer.rfq.part_quantity}}
                           </div>
                        </div>
                       
                    </div>
                </div>
              
            </div>    
    
            <div class="card-footer text-right">
                <div class="row">
                    <div class="col-md-6 text-left"><div class="text-muted">{{offer.related_person.first_name}} {{offer.related_person.last_name}} - {{ offer.date|date:"d/m/Y" }}</div></div>
                    <div class="col-md-6 text-rigth">
                    {% if offer.status == "gonderildi" %}
                        <div class="text-success bold-text"> {{offer.status}}</div>
                    {% else %}
                        <div class="text-danger bold-text"> {{offer.status}}</div>
                    {% endif %}
                    </div>
                </div>
            </div>
          
        </div>   
        {% else %}
        <script>window.location.href = "{% url 'offer-home' %}";</script>
        {% endif %}
              

    {% endfor %}
        
{% endblock content %}
    